*{
    margin: 0px;
    padding: 0px;
}
body{
    background-image: linear-gradient(to bottom,#696eff,#f8acff);
    font-family:'Noto Sans', sans-serif;
    font-weight: 700;
    text-align: center;
    color: beige;
}
.header{
    text-align: left;
    font-size: 24px;
    background-color: white;
    padding: 20px;
    color: #252422;
    text-shadow: black;
    border-bottom: 5px solid #696eff ;
    
}
.passwordFeild{
    border: 1px solid #f1faee ;
    border-radius: 5px;
    padding: 20px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-left:30% ;
    margin-right:30% ;
    margin-top: 20px;
    background-color: #f1faee;
    color: black;
    
}

.content{
    justify-content: center;
    margin-top: 7%;
}
h1{
    color: #f1faee;
    font-size: 72px;
    padding: 20px;
}
.subContent{
    font-size: 24px;
    padding: 5px;;
}

button.password  {
    font-family: inherit;
    margin: 5%;
    padding: 1.3em 3em;
    font-size: 15px;
    font-weight: 500;
    color: #000;
    background-color: #fff;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
  }
  
button.password:hover {
    background-color: #23c483;
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
    color: #fff;
    transform: translateY(-7px);
  }
  
button.password :active {
    transform: translateY(-1px);
  }
